* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 32px;
  gap: 16px;

  max-width: 90%;
}

.calc-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #efefef;
  padding: 12px;
  border-radius: 12px;
  width: 100%;

  max-width: 500px;
}

.label {
  width: fit-content;
  cursor: pointer;
}

.title {
  font-size: 24px;
  text-align: center;
}

.resolution-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.resolution-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.calc-button {
  background-color: #535bf2;
  color: #fff;
  outline: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.input {
  padding: 8px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.result-inch {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 32px;
  }
}
